<section class="py-5">
    <div class="container-lg">
      <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5">
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32">
                <use xlink:href="#package"></use>
              </svg>
            </div>
            <div class="card-body p-0">
              <h5>Free delivery</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32">
                <use xlink:href="#secure"></use>
              </svg>
            </div>
            <div class="card-body p-0">
              <h5>100% secure payment</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32">
                <use xlink:href="#quality"></use>
              </svg>
            </div>
            <div class="card-body p-0">
              <h5>Quality guarantee</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32">
                <use xlink:href="#savings"></use>
              </svg>
            </div>
            <div class="card-body p-0">
              <h5>guaranteed savings</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32">
                <use xlink:href="#offers"></use>
              </svg>
            </div>
            <div class="card-body p-0">
              <h5>Daily offers</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>