<app-preloader></app-preloader>

<app-introduction-part></app-introduction-part>

<app-category></app-category>

<app-best-selling-product></app-best-selling-product>

<app-product-image></app-product-image>

<app-featured-product></app-featured-product>

<app-discount-section></app-discount-section>

<app-populer-product></app-populer-product>

<app-just-arrived></app-just-arrived>

<app-recent-blog></app-recent-blog>

<app-download-section></app-download-section>

<app-people-looking></app-people-looking>

<app-features></app-features>